<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @paticipant.name %>
</p>

<p>
  <b>Event:</b>
  <%= @paticipant.event_id %>
</p>

<%= link_to 'Back', event_path(@paticipant.event.str_id) %>
